<div class="container">
  <h2>Website Visits Statistics</h2>
  <div class="dashboard-container">
    <div class="chart-container">
      <div class="chart-item">
        <h3>Visits By Country</h3>
        <canvas id="pieChart1" width="400" height="400"></canvas>
      </div>

      <div class="chart-item">
        <h3>Device Information</h3>
        <canvas id="deviceChart" width="400" height="400"></canvas>
      </div>

      <div class="chart-item">
        <h3>Total Visits Over Time</h3>
        <canvas id="barChart1" width="400" height="400"></canvas>
      </div>

      <div class="chart-item">
        <h3>Unique Visits Over Time</h3>
        <canvas id="barChart2" width="400" height="400"></canvas>
      </div>
    </div>
  </div>

  @if (token != null && token.length > 1 && haveAdminRight) {
    <div>
      <h2>User Management</h2>
      <div class="dashboard-container">
        <div class="table-responsive">
          <table class="table table-hover table-bordered text-center">
            <thead class="thead-dark">
              <tr>
                <th>Tr</th>
                <th scope="col">Picture</th>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th>Role</th>
                <th scope="col">Status</th>
                <th scope="col">Signup date</th>
                <th scope="col">Last login</th>
              </tr>
            </thead>
            <tbody>
              @for (userObj of users; track userObj; let i = $index) {
                <tr>
                  <td data-label="Tr">{{ i + 1 }}</td>
                  <td data-label="Picture">
                    @if (userObj.profilePicture) {
<img [src]="
                  'data:image/jpeg;base64,' +
                  convertImage(userObj.profilePicture)
                " alt="Photo" />
                    } @else {
                      <img src="/assets/images/default-profile-image.jpg" alt="Default Profile Image" />
                    }
                  </td>
                  <td data-label="Name">{{ userObj.firstname + " " + userObj.lastname }}</td>
                  <td data-label="Username">{{ userObj.username }}</td>
                  <td data-label="Email">{{ userObj.email }}</td>
                  <td data-label="Role">{{ userObj.is_superuser ? "Admin" : "User" }}</td>
                  <td data-label="Status">
                    <button class="btn btn-primary" (click)="changeStatus(i, userObj._id, userObj.is_activated)"
                      [title]="userObj.is_activated ? 'Deactivate?'  : 'Activate?'">
                      {{ userObj.is_activated ? "Active" : "Inactive" }}
                    </button>
                  </td>
                  <td data-label="Signup date">{{ displayDate(userObj.created_at) | date }}</td>
                  <td data-label="Last login">{{ (displayDate(userObj.last_session) | date) ?? "--" }}</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  }
  <app-github-repo-manager></app-github-repo-manager>
</div>