<nav class="navbar navbar-expand-lg bg-body-tertiary mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="bi bi-house"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/words">Yangi so'zlar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add-word">Yangi so'z qo'shish</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tests">Test yechish</a>
        </li>
        <li class="nav-item" *ngIf="authService.getToken()">
          <a class="nav-link" href="/downloader">Downloader</a>
        </li>
        <li class="nav-item" *ngIf="authService.getToken()">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="authService.getToken()">
          <a class="nav-link" href="/loans">Loans</a>
        </li>
      </ul>
      <div class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="O'zbekcha so'z qidiruvi" aria-label="Search"
          [(ngModel)]="searchKey" (keydown.enter)="search()">
        <button class="btn btn-outline-success" type="submit" (click)="search()">Qidiruv</button>
        <!-- TODO implement black/white theme changer -->
        <!-- <button id="theme-changer" class="btn btn-light" (click)="changeThem()"><i class="bi bi-sun-fill"></i></button> -->
        <ul class="navbar-nav ms-auto">
          <li *ngIf="!authService.getToken()" class="nav-item dropdown d-flex align-items-center">
            <a class="nav-link dropdown-toggle" href="#" id="loginDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="loginDropdown">
              <li>
                <a class="dropdown-item" routerLink="/login">Login</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/signup">Sign Up</a>
              </li>
            </ul>
          </li>
          <li *ngIf="authService.getToken()" class="nav-item dropdown d-flex align-items-center">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="assets/images/default-profile-image.jpg" alt="User Icon" class="user-icon">
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>