<h2 class="search-heading">{{ 'word.searchedWord' | translate }}: {{ searchKey }}</h2>
@if (word) {
  <div class="word-container">
    <div class="word-header">
      <span class="word-arabic-pronunciation">
        {{ word.arabic }} <span class="word-pronunciation">/{{ word.pronunciation }}/</span>
      </span>
      <i class="bi bi-arrow-left-right mx-4"></i>
      <span class="word-uzbek"> {{ word.uzbek }}</span>
      <i class="bi bi-arrow-left-right mx-4"></i>
      <span class="word-uzbek">{{ word.english }}</span>
    </div>
    @if (fileExists) {
      <audio [id]="word._id" controls class="word-audio">
        <source [src]="'/assets/audio/' + word._id + '.m4a'" />
        {{ 'word.audioUnsupported' | translate }}
      </audio>
    }
  </div>
} @else {
  <div class="no-word-found">
    <i class="bi bi-exclamation-circle"></i> {{ 'word.notFound' | translate }}
  </div>
}
