<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yangi So'zlar</title>
  </head>

  <body>
    <div class="container">
      <h2 class="text-center mt-4 mb-4">Yangi so'zlar:</h2>

      @if (token != null && token.length > 1) {
        <div class="table-responsive">
          <table class="table table-hover table-bordered text-center">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Tr</th>
                <th scope="col">Arabcha</th>
                <th scope="col">Talaffuz</th>
                <th scope="col">O'zbekcha</th>
                <th scope="col">Inglizcha</th>
                <th scope="col">Yangilash tugmasi</th>
                <th scope="col">Ilova</th>
              </tr>
            </thead>
            <tbody>
              @for (item of dict; track item; let i = $index) {
                <tr>
                  <td>{{i+1}}</td>
                  <td class="word-arabic"> <input type="text" name="arabic" id="{{i+'_arabic'}}" value="{{ item.arabic }}"></td>
                  <td> <input type="text" name="pronunciation" id="{{i+'_pronunciation'}}" value="{{ item.pronunciation }}"></td>
                  <td> <input type="text" name="uzbek" id="{{i+'_uzbek'}}" value="{{ item.uzbek }}"></td>
                  <td> <input type="text" name="english" id="{{i+'_english'}}" value="{{ item.english }}"></td>
                  <td> <button class="btn btn-primary" (click)="updateWord(i, item._id, item.category)">Yangilash</button></td>
                  <td> <input type="text" name="remark" id="{{i+'_remark'}}" value="{{ item.remark }}"></td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      } @else {
        <table class="table table-hover table-bordered text-center">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Tr</th>
              <th scope="col">Arabcha</th>
              <th scope="col">Talaffuz</th>
              <th scope="col">O'zbekcha</th>
              <th scope="col">Inglizcha</th>
            </tr>
          </thead>
          <tbody>
            @for (item of dict; track item; let i = $index) {
              <tr>
                <td>{{i+1}}</td>
                <td class="word-arabic"> {{ item.arabic }}</td>
                <td>{{ item.pronunciation }}</td>
                <td>{{ item.uzbek }}</td>
                <td>{{ item.english }}</td>
              </tr>
            }
          </tbody>
        </table>
      }



      <hr />

      <div class="text-center mt-4">
        <a href="/add-word" class="btn btn-success btn-lg mx-2">Yangi so'z qo'shish</a>
        <a href="/" class="btn btn-secondary btn-lg mx-2">Orqaga qaytish</a>
      </div>
    </div>
  </body>

</html>