<h2>GitHub Repo Manager</h2>

<input type="password" placeholder="Paste GitHub Token" [(ngModel)]="token" />
<label for="self_repos">Only self</label><input type="checkbox" id="self_repos" (change)="saveShowOnlySelf($event)"
[(ngModel)]="showSelf">
<button (click)="saveToken()">Load Repos</button>


@if (loading) {
  <div>Loading repositories...</div>
}

@if (repos.length) {
  <table>
    <tr>
      <th>Name</th>
      <th>Owner id</th>
      <th>Visibility</th>
      <th>Private</th>
      <th>Public</th>
      <th>Delete</th>
    </tr>
    @for (repo of repos; track repo) {
      <tr>
        <td>{{ repo.name }}</td>
        <td>{{ repo.owner?.login }}</td>
        <td>{{ repo.private ? 'Private' : 'Public' }}</td>
        <td>
          <input type="checkbox" (change)="toggleAction(repo, 'makePrivate')" [disabled]="repo.private" />
        </td>
        <td>
          <input type="checkbox" (change)="toggleAction(repo, 'makePublic')" [disabled]="!repo.private" />
        </td>
        <td>
          <input type="checkbox" (change)="toggleAction(repo, 'delete')" />
        </td>
      </tr>
    }
  </table>
}

<button (click)="save()">Save</button>
<button (click)="cancel()">Cancel</button>