<h1>Arab Tili</h1>
<h2>Yangi so`zlar:</h2>
<div class="form">
  O'qilishi: <input [(ngModel)]="word" type="text" class="word-meaning" placeholder="So'zni o'qilishini kiriting"> <br>
  Arabchasi: <input [(ngModel)]="arabic" class="word-meaning" type="text" placeholder="So'zni arabcha shaklini kiriting"> <br>
  Ma`nosi: <input [(ngModel)]="meaning" class="word-meaning" type="text" placeholder="So'zni ma`nosini kiriting"> <br>
  Turi: <input [(ngModel)]="wordType" type="text" class="word-meaning" placeholder="So'zni turini kiriting"> <br>
  <button (click)="addWord()">Saqlash</button>
</div>
  <ng-container
    *ngFor="let item of dict">
    <p *ngIf="item.word != ''">
      <span class="word-arabic">{{item.arabic != '' ? item.arabic : item.word}} </span> =>
      <span class="word-meaning">{{item.meaning}}</span>
    </p>
  </ng-container>

